/*@import 'tailwindcss';
@source "../views";

@tailwind base;
@tailwind components;
@tailwind utilities;*/
@import 'bootstrap/scss/bootstrap';

nav{
    color: rgb(31, 31, 31);
}
.lii.li{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;

}
.h55{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
}
p{
    font: size 8px ;
}
.btnn{
     width: 5cm;
     justify-content: center;
     align-items: center;
}
.img{
    height: 4cm;
    width: 5cm;
}
ft{
    height: 3cm;
    width: 3cm;
}
